.LoadingView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.LoadingView .logoWrap {
    position: relative;
} 

.LoadingView .logoWrap .bitcoin {
    position: absolute;
    top: calc(50% - 19.5px);
    left: calc(50% - 13.5px);
    animation: rotateRight 3s linear infinite;
} 

.LoadingView .logoWrap .circle {
    animation: rotateLeft 1.5s linear infinite;
} 

@keyframes rotateLeft {
    0%{
        transform: rotate(360deg)
    }
    
    100%{
        transform: rotate(0deg)
    }
}

@keyframes rotateRight {
    0%{
        transform: rotate(-45deg)
    }
    
    100%{
        transform: rotate(315deg)
    }
}

.LoadingView .textWrap {
    line-height: 2;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .LoadingView .textWrap {
        font-size: 18px;
    }

    .LoadingView .icon {
        transform: scale(.8);
    }
    
}