.Button {
    border-width: 3px;
    border-style: solid;
    border-radius: 50px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background-color: #191919;
    height: 65px;
    min-width: 350px;
    letter-spacing: 4px;
    width: 100%;
    max-width: 450px;
    outline: none;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 800px) {
    .Button:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px 4px rgb(0, 0, 0);
        background-color: #202020;
    }
    
    .Button:active {
        transform: translateY(0px);
        background-color: #191919;
    }
}

@media screen and (max-width: 800px) {
    .Button {
        height: 50px;   
        border-width: 1px;
        font-size: 14px;
        font-weight: normal;
        min-width: 200px;
        letter-spacing: 3px;
        max-width: 100%;
    }
}