.BitcoinField {
    height: 30px;
    margin-top: 20px;
    position: relative;
    padding: 15px 40px;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.BitcoinField .decrease,
.BitcoinField .increase {
    padding: 15px;
    margin: -15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .BitcoinField .decrease:hover,
    .BitcoinField .increase:hover {
        transform: scale(1.075);
    }
}

.BitcoinField .decrease:active,
.BitcoinField .increase:active {
    transform: scale(1);
}

.BitcoinField .textWrap {
    display: flex;
}

.BitcoinField .amount,
.BitcoinField .coin {
    font-size: 25px;
    padding: 0 7.5px;
}

@media screen and (max-width: 800px) {
    .BitcoinField {
        padding: 10px 20px;
        border-radius: 5px;
    }

    .BitcoinField .decrease,
    .BitcoinField .increase {
        transform: scale(0.8);
    }

    .BitcoinField .amount,
    .BitcoinField .coin {
        font-size: 16px;
        padding: 0 7.5px;
    }

    .BitcoinField .decrease:active,
    .BitcoinField .increase:active {
        transform: scale(1.05);
    }
}